@import-normalize; /* bring in normalize.css styles */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500&family=Open+Sans:wght@400;600&family=Righteous&display=swap');

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;

  color: white;
  background: #101010;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul,
ol {
  margin: 0;
  padding: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
li {
  cursor: pointer;
  list-style: none;
}
a {
  text-decoration: none;
  color: white;
}
